:root {
    --primary-color: darkblue;
    --secondary-color: #000041;
    --white: #ffffff;
    --pink: #e91e63;
    --yellow: #fae100;
    --gray: rgba(0, 0, 0, 0.5);
    --horizontal-space: 10px;
    --larger-horizonal-space: 25px;
    --main-border: 1px solid var(--white);
    --border-radius: 25px;
}
