.alt-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -60px 0 15px;
    padding: var(--horizontal-space);
    color: var(--white);
}

.alt-header__title {
    font-size: 24px;
    font-weight: 600;
}

.alt-header__column:first-child {
    margin-right: auto;
}

.alt-header__column:nth-child(2) {
    text-align: center;
}

.alt-header__column:last-child {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.alt-header__column span:last-child {
    margin-left: 20px;
}
