.status-bar {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    padding: 5px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 600;
    background-color: var(--white);
    border-bottom: 1px solid var(--white);
}

.status-bar__column {
    width: 33%;
}

.status-bar__column:first-child span {
    margin-right: 5px;
}

.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar__column .fa-battery-full {
    margin: 0 5px;
}
